body {
    font-family: Arial;
    text-align: center;
    background: #f2f2f2;
}

#game-board {
    width: 440px;
    margin: 20px auto;

    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
}

.card {
    width: 100px;
    height: 100px;

    background: #3498db;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 40px;
    cursor: pointer;

    border-radius: 10px;
}

.flipped {
    background: #2ecc71;
}

.buttons {

    margin-top: 20px;

    display: flex;

    justify-content: center;

    gap: 15px;
}

.restart-btn,
.logout-btn {

    padding: 12px 20px;

    border: none;

    border-radius: 8px;

    color: white;

    font-size: 16px;

    cursor: pointer;

    text-decoration: none;

    transition: 0.3s;
}

.restart-btn {

    background: #3498db;
}

.restart-btn:hover {

    background: #2980b9;
}

.logout-btn {

    background: #e74c3c;

    display: flex;

    align-items: center;

    justify-content: center;
}

.logout-btn:hover {

    background: #c0392b;
}